Repository manbearwiz/vitest-tiny-reporter: changes, and which lefthook commands are due for each by the changed paths.
All: format, test

format:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

test:
  run: npx vitest related --silent --no-color --no-clearScreen --run {staged_files}
  fail_text: Tests failed

fix(build): add lint script
  package.json
Due: format

fix(lint): lint fix
  vitest.config.mts
Due: none

fixup
  package-lock.json
  package.json
  vitest.config.mts
Due: format

fixup
  vitest.config.mts
Due: none

initial
  .editorconfig
  .gitattributes
  .github/dependabot.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .gitignore
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  commitlint.config.js
  lefthook.yml
  package-lock.json
  package.json
  src/index.test.ts
  src/index.ts
  tsconfig.json
  vitest.config.mts
Due: format, test

fix(*): vscode settings, create release
  .vscode/settings.json
Due: format

fix(*): vscode settings, create release (#7)
  .vscode/settings.json
Due: format

Notes added by 'git notes add'
  a2405c42252555ebd2e74ecd4842203c41e4a8ca
Due: none

fix(build): use vite to emit cjs and esm formats
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.types.json
  vite.config.ts
Due: format, test

fixup
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  c1e51aa5329d9297e70bbc05d44ab96b974bbdd6
Due: none

fix(build): add default export
  src/index.ts
  vite.config.ts
Due: format, test

fix(build): add default export (#9)
  src/index.ts
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  27a1246fd9f8a7dcf584ba64393a0a1684e72df5
Due: none

fix(build): set side effect free
  package.json
Due: format

fix(build): set side effect free (#10)
  package.json
Due: format

Notes added by 'git notes add'
  e0baaad6693a4c3480b12021b263c0ea410d5bc4
Due: none

fix(*): move vitest to peer deps
  package-lock.json
  package.json
Due: format

fix(*): move vitest to peer deps (#16)
  package-lock.json
  package.json
Due: format

Notes added by 'git notes add'
  4a154a54ab48e162b20f841ea5c658b0582ca629
Due: none

fix(peerDeps): less restrictive vite dependency
  package.json
Due: format

Notes added by 'git notes add'
  ca7e1592d380936f46dcd9af2043f9f9db2cdb09
Due: none

docs(readme): add vscode and lefthook examples
  README.md
Due: none

feat(build): vite 6
  package-lock.json
  package.json
  src/index.test.ts
  src/index.ts
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  0850885fb8ce91c0963196e94221548e3bda1a07
Due: none

feat(*): support vitest 3
  package-lock.json
  package.json
  src/index.test.ts
  vite.config.ts
Due: format, test

feat(*): support vitest 3 (#99)
  package-lock.json
  package.json
  src/index.test.ts
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  8e6c6612cdb317c1e86993f19157d83ded1f0793
Due: none

build(pr): use arm runner
  .github/workflows/pr.yml
Due: none

build(pr): use arm runner (#112)
  .github/workflows/pr.yml
Due: none

docs(readme): replace bundlephobia with packagephobia
  README.md
Due: none

feat(deps): support vitest@4
  package-lock.json
  package.json
  src/index.test.ts
  vite.config.ts
Due: format, test

Notes added by 'git notes add'
  aba9d6cc1cb32be8632d01bd4d4a20870f7972bf
Due: none

build(deps-dev): happy-dom@20
  package-lock.json
  package.json
  src/index.test.ts
Due: format, test

build(deps-dev): node 22; semantic-release 25
  .nvmrc
  package-lock.json
  package.json
Due: format

build(dev-deps): biome 2
  .vscode/settings.json
  biome.json
  lefthook.yml
  package-lock.json
  package.json
  src/index.test.ts
  tsconfig.types.json
  vite.config.ts
Due: format, test

build(release): prepare for trusted publishing
  .github/workflows/release.yml
Due: none

build(deps-dev): bump semantic-release to 25.0.2; change commitlint config
  .commitlintrc.json
  commitlint.config.js
  package-lock.json
  package.json
Due: format

fix(deps): bump tinyrainbow to support version 3.0.0
  package-lock.json
  package.json
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.ts
